.topPadding {
  padding: 8em 0 !important;
}

.noPadding {
  padding: 0;
}

.header {
  font-size: 2em;
}

.details {
  font-size: 1.33em;
}

.gridPadding {
  padding-bottom: 5em;
  padding-top: 5em;
}

.divider {
  margin: 3em 0em;
  text-transform: uppercase;
}

.buttonPadding {
 display: inline;
 padding:  0 1em;
}
