.topPadding {
  padding: 8em 0;
}

.noPadding {
  padding: 0;
}

.header {
  font-size: 2em;
}

.details {
  font-size: 1.33em;
}

.imagePlaceholder {
  width: 450px;
  height: 450px;
  background-color: #afafaf;
  border-radius: .3125em;
}

.gridPadding {
  padding-bottom: 5em;
  padding-top: 5em;
}

.divider {
  margin: 3em 0em;
  text-transform: uppercase;
}
